<!DOCTYPE html>
<html>
<head>
  <title>Node database tutorial</title>
</head>
<body>
  <form  method = "post" target = "/form">
    <h1>Create a new user</h1>
	<input type="number"  placeholder="emis" name ="emis"><br><br>
	<input type="number" placeholder="centre number" name = "centre_number"><br><br>
    <input type="text"  placeholder="school name" name = "name"><br><br>
    <input type="number" class="password" placeholder="2014 students" name = "wrote_14"><br><br>
	<input type="number" class="password" placeholder="2014 students passed" name = "passed_14"><br><br>
	<input type="number" class="password" placeholder="2015 students" name = "wrote_15"><br><br>
	<input type="number" class="password" placeholder="2015 students passed" name = "passed_15"><br><br>
	<input type="number" class="password" placeholder="2016 students" name = "wrote_16"><br><br>
	<input type="number" class="password" placeholder="2016 students passed" name = "passed_16"><br><br>
    <input type="submit" value="Create user">
  </form>

</body>
</html>